body{
    background-color: #ffe4c9;
  }
main {
    border: solid 10px #e3bfb7;
    background-color: #c29ba3;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  
  }
p {
    background-color: #b7eaf7;
    font-family: 'Chivo Mono', monospace;
    padding: 4vw;
    margin: 50px; 
    color:#8a9ba7;
    font-size: 30px;
  }
.button {
    float: right;
    background-color: #8a9ba7;
    color: #fff;
    font-family: 'Chivo Mono', monospace;
    padding: 10px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
    
.button:hover {
      background-color: #c29ba3;
   }