nav{
    float: right;
    padding-right: 20px;
}
nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
nav a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
  }
  
nav a:hover {
    color: #ff0077;
  }